/**======================
 **      COLORS
 *========================**/
// Color Scheme
$color-primary: #0f75bc;
$color-secondary: #25aae1;
$color-accent: #13a89e;

// Common colors
$color-text: #444;
$color-bg: #f1f1f1;
$color-border: #ddd;
