/**======================
 **      COLORS
 *========================**/
//* Color Scheme
$color-brand-primary: #0f75bc;
$color-brand-secondary: #25aae1;
$color-brand-accent: #13a89e;

//** Color - Neutral
$color-neutral-100: #f8f9fa;
$color-neutral-200: #e9ecef;
$color-neutral-300: #dee2e6;
$color-neutral-400: #ced4da;
$color-neutral-500: #adb5bd;
$color-neutral-600: #6c757d;
$color-neutral-700: #495057;
$color-neutral-800: #343a40;
$color-neutral-900: #212529;

//** Color - Feedback

//** Color - Gradient

//* Common colors
$color-white: #ffffff;
$color-black: #000000;
