@use "../libs/modularscale-sass/modularscale" as ms;
@use "sass:map";
@use "breakpoints";

// FONTS
//* Import Webfonts
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

//* Local Webfonts // $local-font-family: <string>;
// $local-font-style: <string>;
// $local-font-weight: <number>;
// $local-file-path: <string>;
// $local-file-formats: <string>|<list>;
// @include font-face($local-font-family, $local-file-path);

//* Font basic Settings
//** Fallback font stacks
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-mono: Menlo, Monaco, "Courier New", monospace;

//*** Main font stacks
$font-family-base: $font-family-system;
$font-family-alt: $font-family-sans;

//** Font Size
$desktop-font-size-base: 16;
$desktop-font-size-base-px: $desktop-font-size-base * 1px;

$mobile-font-size-base: 12;
$mobile-font-size-base-px: $mobile-font-size-base * 1px;

$leading-base: 1.7;
$line-height-base: round($desktop-font-size-base * $leading-base);
$baseline: $line-height-base * 1px;

//** Type Modular Scale

// Modular Scale Ratio
// +----------------------+---------+---------------+
// |       Function       |  Ratio  | Decimal value |
// +----------------------+---------+---------------+
// | ms.$phi              | 1:1.618 |         1.618 |
// | ms.$golden           | 1:1.618 |         1.618 |
// | ms.$double-octave    | 1:4     |             4 |
// | ms.$major-twelfth    | 1:3     |             3 |
// | ms.$major-eleventh   | 3:8     |         2.667 |
// | ms.$major-tenth      | 2:5     |           2.5 |
// | ms.$octave           | 1:2     |             2 |
// | ms.$major-seventh    | 8:15    |         1.875 |
// | ms.$minor-seventh    | 9:16    |         1.778 |
// | ms.$major-sixth      | 3:5     |         1.667 |
// | ms.$minor-sixth      | 5:8     |           1.6 |
// | ms.$fifth            | 2:3     |           1.5 |
// | ms.$augmented-fourth | 1:√2    |         1.414 |
// | ms.$fourth           | 3:4     |         1.333 |
// | ms.$major-third      | 4:5     |          1.25 |
// | ms.$minor-third      | 5:6     |           1.2 |
// | ms.$major-second     | 8:9     |         1.125 |
// | ms.$minor-second     | 15:16   |         1.067 |
// +----------------------+---------+---------------+

ms.$settings: (
  base: $mobile-font-size-base-px,
  ratio: ms.$major-third,
  respond: typetura,
  // typetura, media, or container
  // Breakpoints
  map.get($breakpoints, xs):
    (
      base: $mobile-font-size-base-px,
      ratio: ms.$major-third,
    ),

  map.get($breakpoints, md): (
    base: $desktop-font-size-base-px,
    ratio: ms.$fourth,
  )
);

//*** Headings
$font-family-heading: $font-family-base;
$font-weight-heading: 700;
$line-height-heading: 1.3;
