/**======================
 **      FONTS
 *========================**/
// Import Webfonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Font basic Settings
$font-size-base: 18;
$font-size-base-px: $font-size-base * 1px;

$leading-base: 1.7;
$line-height-base: round($font-size-base * $leading-base);
$baseline: $line-height-base * 1px;

$modularscale: (
  base: $font-size-base-px,
  ratio: $major-third,
);

// Useful to set here when bold webfonts come as 400 font-weight.
$font-weight-bold: bold;

// Fallback font stacks
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-mono: Menlo, Monaco, "Courier New", monospace;

// Main font stacks
$project-main-font: "Inter", Helvetica, Arial, sans-serif;
$project-sub-font: "Space Mono", "Courier New", Courier, monospace;

$font-family-base: $project-main-font;
$font-family-alt: $project-sub-font;

// Headings
$font-family-headings: $font-family-alt;
$font-weight-headings: bold;
$line-height-headings: 1.3;
