mixin head(data)
  -
    let title = data.title

  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")

  //- Title
  title= title

  //- Meta tags
  meta(name="format-detection" content="telephone=no")
  meta(name="format-detection" content="address=no")
  meta(name="robots", content="noodp, noydir")

  //- Extertal Styles

  //- Extertal Scripts