// Set up the font smoothing
@include antialias;

html {
  -webkit-text-size-adjust: 100%;
  font-size: ms.step(0);
}

body {
  color: $color-neutral-700;
  line-height: $leading-base;
  font-family: $font-family-base;
}

//* Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 0;
  margin-bottom: $baseline;
  font-weight: $font-weight-heading;
  line-height: $line-height-heading;

  font-family: $font-family-heading;
  text-rendering: optimizeLegibility;

  small {
    font-weight: normal;
  }
}

h1,
.h1 {
  margin-bottom: $baseline * 2;
  font-size: ms.step(5);
}

h2,
.h2 {
  font-size: ms.step(4);
}

h3,
.h3 {
  font-size: ms.step(3);
}

h4,
.h4 {
  font-size: ms.step(2);
}

h5,
.h5 {
  margin-bottom: 0;
  font-size: ms.step(1);
}

h6,
.h6 {
  margin-bottom: 0;
  font-size: ms.step(0);
}

*+h1,
*+.h1,
*+h2,
*+.h2,
*+h3,
*+.h3,
*+h4,
*+.h4 {
  margin-top: $baseline;
}

//* Paragraphs
p {
  margin-top: 0;
  margin-bottom: $baseline;

  font-size: ms.step(0);
  line-height: $baseline;
}

small {
  font-size: 80%;
}